Source: canaima-llaves
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-llaves.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-llaves/trees/master

Package: canaima-llaves
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Llaves de los repositorios de Canaima GNU/Linux
 Este paquete provee las llaves de los repositorios
 de Canaima GNU/Linux.
