Source: canaima-llaves
Section: misc
Priority: optional
Maintainer: Carlos Alejandro Guerrero Mora <guerrerocarlos@gmail.com>, Diego Alberto Aguilera Zambrano <diegoaguilera85@gmail.com>, Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>, Francisco Javier Vásquez Guerrero <franjvasquezg@gmail.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.7.3
Homepage: http://canaima.softwarelibre.gob.ve/

Package: canaima-llaves
Architecture: all
Description: Llaves PGP de los repositorios de Canaima GNU/Linux
 Este paquete provee las llaves PGP de los repositorios
 de Canaima GNU/Linux 2.0.
